=
<!-- DISQUS -->
<div id="disqus_thread" class="post-comments">
    <div class="my-3 leave-comment text-left">
        <h4>Hãy nêu lên suy nghĩ của bạn tại đây</h4>
    </div>
    <div class="row agile-wls-contact-mid">

        <div class="col-lg-6 col-md-6 form-group contact-forms">
            <input type="email" class="form-control" placeholder="Email của bạn">
        </div>

        <div class="col-lg-6 col-md-6 form-group contact-forms">
            <input type="text" class="form-control" placeholder="Họ và tên">
        </div>
    </div>
    <label></label>
    <div class="form-group contact-forms">
        <textarea class="form-control" rows="3"></textarea>
        <span>
            <label></label>
        </span>
    </div>
    <button type="submit" class="btn btn-blogifier btn-block btn-floating">Đang trong quá trình phát triển</button>
</div>
