@page "/admin/drive/"
@inject IStringLocalizer<Resource> _localizer
<div class="container">
    <h1 class="section-title">@_localizer["Drive"]</h1>
    <div class="section-content">

        <div class="alert alert-secondary d-flex align-items-center">
            @_localizer["Đang trong quá trình phát triển"].
            <a class="ms-auto btn btn-sm btn-secondary py-1" target="_blank" href="#">
                @_localizer["Xem thêm thông tin"]
            </a>
         </div>
    </div>
</div>
