@{ Layout = "layouts/_main.cshtml"; }

<main class="container search">

    <form action="" method="GET">
        <input type="text" placeholder="Tìm kiếm...">
    </form>
    <h1 class="search-title">Kết quả tìm kiếm</h1>

    <div class="row mb-3">
        <div class="col-4">
            <img src="IMAGE" alt="  Tiêu đề">
        </div>
        <div class="col-8">
            <a href="URL">  Tiêu đề</a>
            <p>Mô tả</p>
        </div>
    </div>

</main>
