@layout SettingsLayout
@page "/admin/settings/customize/widgets/"
@inject IStringLocalizer<Resource> _localizer
<PageTitle Title="@_localizer["Cơ sở vật chất"]" />

<h1 class="section-title">@_localizer["Cơ sở vật chất"]</h1>

<div class="section-content">
    <div class="alert alert-secondary d-flex align-items-center">
        @_localizer["Đang trong quá trình phát triển"].
        <a class="ms-auto btn btn-sm btn-secondary py-1" target="_blank" href="#">
            @_localizer["Xem thêm"]
        </a>
    </div>
</div>
