@inject IStringLocalizer<Resource> _localizer
<div class="alert alert-warning">
    @_localizer["Đang trong quá trình phát triển"].
    <a class="append-arrow-right" href="">@_localizer["Tìm hiểu thêm"]</a>
</div>
